@font-face
{
  font-family: myFont;
  src:url('../fonts/BebasNeue Bold.otf');
}

body {
  background-color: #b3e6ff;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.button {
    color: white;
    margin: auto;
    display: inline-block;
    font-size: 7vmax;
    padding-top: 5vmax;
    font-family: myFont;
}

h2 {
    text-align: center;
    font-family: myFont;
    font-size: 6vmax;
    padding-bottom: 5vmax;
    color: white;
}

.row
{
    margin: auto;
    text-align: center;
}

.row p1
{
    font-family: myFont;
    font-size: 6vmax;
    color: white;
}

.row img
{
    width: 40vmax;
    height: 40vmax;
    border-radius: 50%;
}

.row p2
{
    text-align: center;
    font-family: myFont;
    font-size: 6vmax;
    color: white;
}